<odoo>

    <record id="action_product_tree" model="ir.actions.act_window">
        <field name="name">Products</field>
        <field name="res_model">product_addition.product</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="menu_product_tree" model="ir.ui.menu">
        <field name="name">Products</field>
        <field name="action" ref="product_addition.action_product_tree"/>
    </record>

    <record id="action_marking_act" model="ir.actions.act_window">
        <field name="name">Marking Acts</field>
        <field name="res_model">product_addition.marking_act</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="product_addition.view_marking_act_tree"/>
        <field name="target">current</field>
    </record>

    <record id="menu_marking_act" model="ir.ui.menu">
        <field name="name">Marking Acts</field>
        <field name="action" ref="product_addition.action_marking_act"/>
    </record>

    <record id="action_marked_product_tree" model="ir.actions.act_window">
        <field name="name">Marked Products</field>
        <field name="res_model">product_addition.marked_product</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="menu_marked_product_tree" model="ir.ui.menu">
        <field name="name">Marked Products</field>
        <field name="action" ref="product_addition.action_marked_product_tree"/>
    </record>

</odoo>
